.navbar-brand {
    height: 10vh;
    width: 3rem;
}

.HomeIcon {
    color: red;
}

.Greater {
    font-size: 16px;
}

.GirlIcon {
    font-size: 70px;
    color: red;
}

.girlCardtext {
    color: red;
}

.Cardimage {
    border: 1px solid red;
}

/* .Cardimage-masla {
    border: 1px solid red;
    position: relative;
    left: 670px;
    top: 20px;
} */

.Cardimage-3 {
    border: 1px solid red;
}

.girlCardpara {
    padding-bottom: 100px;
}

.btnHair {
    width: 20%;
    background-color: red;
}

.btnTIM {
    /* border: 1px solid red; */
    background-color: rgb(248, 148, 148);
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-pic {
    height: 60vh;
}

.PicPara h5 {
    font-weight: 700;
}


.FooterLogo {
    height: 10vh;
    width: 3rem;
}

.LastLOGO {
    height: 9vh;
    width: 7rem;
}


.footerColor {
    background-color: #FFD56F;
}

.footPARAGRAPH h6 {
    line-height: 35px;

}

.footPARAGRAPH {
    padding-top: 45px;
    padding-left: 60px;
}

.line {
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.FB {
    color: rgb(45, 45, 246);
}

.FbInstaYoutube {
    padding-left: 30%;

}

.FbInstaYoutube i {
    margin-right: 25px;
}

.lastdropdown {
    border: 1px solid gray;
}

.bglight {
    background-color: #FFD56F;
}

/* MEDIA QUERY */


@media only screen and (min-width: 990px) {
    .NavIcons {
        display: flex;
        justify-content: space-between;
    }

    .Card-4 {
        position: absolute;
    }

    .Cardimage-3 {
        position: relative;
        left: 670px;
        top: -270px;
        /* border: 1px solid red; */
    }

    .cardMar {
        margin-top: 150px;
    }
}